

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    color: white;

    background-image: url(https://i.pinimg.com/originals/e5/59/c5/e559c582fa17ad0f7672cd45e972b434.jpg);
    background-size: cover;
}

img {
  display: block;
  max-width: 100%;
  height: 200px;
}

.is-hiden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1200px;
  padding: 0px;
  margin: 20px auto;
  justify-content: space-between;
}

input {
  border-width: 50%;
padding: 10px;
border-radius: 10px;
}