

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    color: white;

    background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8aGFja2VyfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
}

img {
  display: block;
  max-width: 100%;
  height: 200px;
}

.is-hiden {
  display: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 1200px;
  padding: 0px;
  margin: 20px auto;
  justify-content: space-between;
}

input {
  border-width: 50%;
padding: 10px;
border-radius: 10px;
}